/*ЗАГАЛЬНІ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  font-feature-settings: "lnum" 1;
}

.container {
  margin: 0 5vw;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 6vh auto;
}

label {
  display: block;
}

.med {
  font-size: 14px;
  line-height: 24px;
}

.big {
  font-size: 16px;
}

.light {
  font-weight: 300;
}

.norm {
  font-weight: 400;
}

.sbold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.upp {
  text-transform: uppercase;
}

.c-r {
  color: #da1f39;
}

/*РОЗТАШУВАННЯ СТОРІНКИ*/
.location {
  display: flex;
  grid-column: 1 / 3;
  align-items: center;
}

/*ФІЛЬТРА*/
.filter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  margin-top: 15px;
}

.none {
  display: none;
}

article input {
  margin: 0 4px;
}

.size .filter__article {
  display: flex;
  align-items: center;
}

.size label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  z-index: 20;
}

.size input:checked + label {
  margin-bottom: 0;
}

.size article {
  height: 0px;
  overflow: hidden;
  z-index: 10;
}

.size input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}

input:checked + label svg {
  transform: rotate(180deg);
}

.color .filter__article {
  display: flex;
  align-items: center;
}

.color label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  z-index: 20;
}

.color input:checked + label {
  margin-bottom: 0;
}

.color article {
  height: 0px;
  overflow: hidden;
  z-index: 10;
}

.color input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}

.season .filter__article {
  display: flex;
  align-items: center;
}

.season label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  z-index: 20;
}

.season input:checked + label {
  margin-bottom: 0;
}

.season article {
  height: 0px;
  overflow: hidden;
  z-index: 10;
}

.season input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}

.textile .filter__article {
  display: flex;
  align-items: center;
}

.textile label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  z-index: 20;
}

.textile input:checked + label {
  margin-bottom: 0;
}

.textile article {
  height: 0px;
  overflow: hidden;
  z-index: 10;
}

.textile input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}

.sleeve .filter__article {
  display: flex;
  align-items: center;
}

.sleeve label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  z-index: 20;
}

.sleeve input:checked + label {
  margin-bottom: 0;
}

.sleeve article {
  height: 0px;
  overflow: hidden;
  z-index: 10;
}

.sleeve input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}

/*КАТАЛОГ*/
.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7vh repeat(3, auto) 30vh;
  gap: 3em;
}

.menu__items {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.menu__form select {
  border: none;
}

.menu__form {
  display: flex;
}

.text__main {
  font-family: "Dela";
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.catalog__img {
  width: 100%;
}

.more {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.more__items {
  text-align: center;
  grid-column: 2 / 3;
}

.more__items a {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  justify-content: center;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;

}

.page {
  grid-column: 3 / 4;
  text-align: end;
}

.page a {
  margin: 0 3px;
}
.page a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.page a:first-child {
  color: #b0b0b0;
}

/*РОЗТАШУВАННЯ В GRID CATALOG*/

.menu {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-items: center;
}

.footer {
  position: relative;
}

.footer .arrow-up {
  position: absolute;
  top: -40px;
  left: 50%;
}