/*ЗАГАЛЬНІ*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.container {
  max-width: 1440px;
}

.location {
  display: flex;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

/*ЗОБРАЖЕННЯ*/
.img-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 55vw 30vw 30vw;
  width: 100%;
}

.img-card__main {
  grid-column: 1 / 3;
  background-image: url(./img/lito_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 720px;
}

.img-card__sleeve {
  grid-column: 1 / 2;
  background-image: url(./img/lito_sleeve.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 360px;
}

.img-card__back {
  grid-column: 2 / 3;
  background-image: url(./img/lito_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 360px;
}

.img-card__full {
  grid-column: 1 / 2;
  background-image: url(./img/lito_full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 360px;
}

.img-card__video {
  grid-column: 2 / 3;
  background-image: url(./img/lito_video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 360px;
}

.details {
  width: 100%;
}
/*ВИБІР РОЗМІРУ*/

/*ПРО ТОВАР*/
.info .about__title {
  display: flex;
  justify-content: space-between;
}

/*.minus {
  display: none;
}

 .info input {
  display: none;
 }

  .info label {
    display: block;
    z-index: 20;
  }

  .info article {
    height: 0px;
    overflow: hidden;
  }

  .info input:checked ~ article {
height: auto;
  }
*/

.info input {
  display: none;
}

.info label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.125em;
  padding: 0.25em 1em;
  z-index: 20;
}

.info label:hover {
  background: #dcdbdb;
}

.info input:checked + label {
  background: #ccc;
  margin-bottom: 0;
}
.minus {
  display: none;
}

.info article {
  background: #f7f7f7;
  height: 0px;
  overflow: hidden;
  z-index: 10;
}
.info article p {
  padding: 1em;
}

.info input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em;
}
/*ПРОПОЗИЦІЯ*/

.offer {
  display: flex;
  overflow: scroll;
}
